<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>getrequest</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
</head>

<body>

    <div class="app">

        <div class="container">

            <div class="header">
                <div class="form-group">
                    <input type="text" v-model='url' class="form-control">
                    <button class="btn btn-warning btn-block" @click='getApi(url,{method:"GET"})'>GET</button>
                </div>
            </div>

            <h3>Body</h3>
            <pre><code>{{apidata.body}}</code></pre>


            <h3>Valid Keys:</h3>
            <ul>
                <li v-for='item in Object.keys(apidata.body)'>{{item}}</li>
            </ul>

        </div>



    </div>

    <script src="./node_modules/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body>

</html>