<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>getrequest</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
</head>

<body>

    <div class="app">
t        <div class="container">

            <div class="header">
                <div class="form-group">

                    <div class="row">

                        <div class="col-lg-10">
                            <input type="text" v-model='url' class="form-control" placeholder="Type in a link">
                        </div>

                        <div class="col-lg-2">
                            <button class="btn btn-warning btn-block" @click='getApi(url,{method:"GET"})'>GET</button>
                        </div>

                    </div>


                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="body-wrapper">
                        <h3>Body</h3>
                        <h6>Raw Body</h6>
                        <pre><code>{{api_body}}</code></pre>
                    </div>
                </div>


                <div class="col-lg-4">
                    <div class="nicer-version-wrapper">
                        <h3>Niceify:</h3>
                        <h6>Nicer version for your eyes to see</h6>
                        <ul>
                            <li v-for='item in Object.keys(api_body)'>
                                <!-- KEY -->
                                <span class="key">{{item}} [{{typeof api_body[item]}}]</span>:
                                <br>

                                <!-- ITEM ITSELF -->
                                <span @click='getApi(api_body[item])'>
                                    {{api_body[item]}}
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="history-wrapper">
                        <h3>History:</h3>
                        <h6>Click on any of the links to make a request to that link</h6>
                        <ul>
                            <li @click='getApi(h)' v-for='h in history'>
                                {{h}}
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>



    </div>

    <script src="./node_modules/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body>

</html>